MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/terminology?retryWrites=true&w=majority

EUREKA_URL=http://localhost:8761
KEYCLOAK_URL=http://localhost:8083
KEYCLOAK_REALM=medbridge
ZIPKIN_URL=http://localhost:9411
REDIS_HOST=localhost

FHIR_SERVICE_URL=http://localhost:8085
TERMINOLOGY_SERVICE_URL=http://localhost:8082
TERMINOLOGY_URL=http://localhost:8082
